<!DOCTYPE html>
<html>
    <head>
        <title>Arbitrage!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="@{'/public/stylesheets/styles.css'}">
	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
        
    </head>

<body id="game">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

<h1>Arbitrage!</h1>

<div id="portfolio">
    <div id="info">
        <div id="trader"><img id="user"></><h3 id="userHeader"></h3></div><div id="money" ><img src="@{'/public/images/money.png'}" alt="money"><h3 id="moneyHeader"></h3></div><div id="time"><img src="@{'/public/images/time.png'}" alt="clock"><h3 id="timeHeader"></h3></div></div>
       <div id="assets"><div id="pork"><img src="@{'/public/images/pork.png'}" alt="pork bellies"><h3 id="porkHeader"></h3></div><div id="frozen"><img src="@{'/public/images/frozen.png'}" alt="frozen orange juice"><h3 id="frozenHeader"></h3></div><div id="soy"><img src="@{'/public/images/soy.png'}" alt="soy beans"><h3 id="soyHeader"></h3></div>
    </div>
</div>
   
<div id="exchanges">
    <div class="exchange">
    <div>
            <h3>NYSE</h3>
    </div>
    <div id="nyse">
    </div>
    </div>

    <div class="exchange">
    <div>
            <h3>LSE</h3>
    </div>
    <div id="lse">
    </div>
    </div>
    
    <div class="exchange">        
    <div>
            <h3>NASDAQ</h3>
    </div>
    <div id="nasdaq">
    </div>
    </div>
</div>

<script>
    window.onload = function() {
        updateHighScores();
        updatePlayer();
        requestUpdater();
        document.getElementById("timeHeader").value = '300';
    }

    function updateCounter() {
        var seconds = document.getElementById("timeHeader").value;
        document.getElementById("timeHeader").value = seconds - 1;
    }
    setTimeout("updateCounter()",1000); 

    
    function updatePlayer(){
        $.ajax({
            url: 'http://localhost:9000/getPlayer',
            type: 'GET',
            dataType: 'json',
            success: function(json){
                               
                var iconImage =document.getElementById('user');                
                setIcon(iconImage, json["iconId"]);
                iconImage.setAttribute("alt", "user icon");
                
                
                var name = document.getElementById('userHeader');                
                name.innerHTML = "Trader: " + json["name"];
                
                var money = document.getElementById('moneyHeader');
                money.innerHTML = "Money: " + json["cash"];

                var time = document.getElementById('timeHeader');
                time.innerHTML = "Time Remaining: FIX THIS" ;//+ json[5];
                
                var pork = document.getElementById('porkHeader');
                pork.innerHTML = "Pork Bellies: " + json["porkBellies"];
                
                var frozen = document.getElementById('frozenHeader');
                frozen.innerHTML = "Frozen Orange Juice: " + json["frozenOrangeJuice"];
                
                var soy = document.getElementById('soyHeader');
                soy.innerHTML = "Soy Beans: " + json["soyBeans"];
            }
        });
    }
    
    function setIcon(iconImage, iconId){
        if(iconId === 0){
            iconImage.setAttribute("src", "@{'/public/images/rainbowicon.png'}");
        }else
        if(iconId === 1){
            iconImage.setAttribute("src", "@{'/public/images/atomicon.png'}");
        }else
        if(iconId === 2){
            iconImage.setAttribute("src", "@{'/public/images/painticon.png'}");
        }else
        if(iconId === 3){
            iconImage.setAttribute("src", "@{'/public/images/sunflowericon.png'}");
        }else
        if(iconId === 4){
            iconImage.setAttribute("src", "@{'/public/images/rocketicon.png'}");
        }
        
    }
    
    function getRequests(exchangeCode) {
        $.ajax({
            url: 'http://localhost:9000/getInitialRequests?exchangeCode=' + exchangeCode,
            type: 'GET',
            dataType: 'json',
            success: function(json){
                var exchangeNode = document.getElementById(exchangeCode);
                while (exchangeNode.firstChild) {
                    exchangeNode.removeChild(exchangeNode.firstChild);
                }
                for (var i in json) {
                    appendButton(exchangeNode, json[i]);
                }  
            }
        });
    }
    
    function appendButton(exchangeNode, json) {
        var button = document.createElement("BUTTON");
        var assetType;
        
        if(json.assetTypeString === "PB"){
            assetType = "PB";
        }
        if(json.assetTypeString === "OJ"){
            assetType = "OJ";
        }
        if(json.assetTypeString === "SB"){
            assetType = "SB";
        }
        
        if(json.requestTypeString === "BUY"){
            requestType = "Buy";
        }
        if(json.requestTypeString === "SELL"){
            requestType = "Sell";
        }
        
        var t=document.createTextNode(requestType + "  " +  json.quantity  + "  " + assetType + " at £" + json.pricePerUnit + " each");
        if (json.assetTypeString === "PB") {
            button.className="pb";
        } else if (json.assetTypeString === "OJ") {
            button.className="oj";
        } else {
            button.className="sb";
        }
        button.appendChild(t);
        button.onclick = function() { 
            acceptRequest(json.exchangeCode, json.id);
        };
        exchangeNode.appendChild(button);
    }
    
    function requestUpdater() {
        ws = new WebSocket("ws://localhost:9000/requestSocket");

        ws.onopen = function(message) { 
        }

        ws.onclose = function(message) {
        }

        ws.onmessage = function(message) {
            getRequests("lse");
            getRequests("nyse");
            getRequests("nasdaq");
        }  

        ws.onerror = function(message) {
            //alert("ERROR");
        }
    }
    
    function acceptRequest(exchangeCode, id) {
        $.ajax({
            url: 'http://localhost:9000/acceptRequest?exchangeCode=' + exchangeCode + '&requestId=' + id,
            type: 'GET',
            dataType: 'text',
            success: function(response){
                if (response === "OK") {
                    updatePlayer();
                    getRequests("lse");
                    getRequests("nyse");
                    getRequests("nasdaq");
                } else {
                    alert(response);
                }
            }
        });
    }
    
    function updateHighScores(){
        $.ajax({
            url: 'http://localhost:9000/getHighScores',
            type: 'GET',
            dataType: 'json',
            success: function(json){
                var scoreCount = 1;
                for (var i in json) {
                    document.getElementById("highscorename" + scoreCount).innerHTML = json[i].name;
                    document.getElementById("highscore" + scoreCount).innerHTML = json[i].score;
                    scoreCount++;
                }  
            }
        });
    }
</script>

<script type="text/javascript">
 
jQuery.fn.myLightbox = function() {

    return this.each( function() {

        var lightboxContentLink = jQuery( this ).attr( 'href' );
        if( jQuery( lightboxContentLink ).length ) {
            /* get contents from another element with ID lightboxContentLink */
            var lightboxContent = jQuery( lightboxContentLink );
        }
        else {
            /**
             * @todo implement loading from URL
             */
            var lightboxContent = 'some URL content';
        }

        var windowWrapper = jQuery( '<div class="contentwindowwrapper" />' );
        var window = jQuery( '<div class="contentwindow" />' );
        var windowHandle = jQuery( '<div class="contentwindowclose"></div>' );

        /* close popup on handle click */
        windowHandle.click( function( event ) {
            windowWrapper.hide();
        } );

        /* add content and window handle to popup */
        window.append( lightboxContent, windowHandle );

        /* wrap window with wrapper */
        windowWrapper.append( window );
        windowWrapper.hide();

        /* insert new popup into DOM */
        jQuery( 'body' ).append( windowWrapper );

        jQuery( this ).click( function( event ) {

            /* don't follow link */
            event.preventDefault();

            /* close any popups that are still open */
            jQuery( '.contentwindowwrapper' ).hide();

            /* fade-in popup */
            windowWrapper.show( 300 );

        } );

    } );

};
 
	</script>

<div id="portfolioitems">
    <a href="#c1"><div class="link"><h3>Instructions</h3></div></a>
    <a href="#c2"><div class="link"><h3>High Scores</h3></div></a>
    <a href="#c3"><div class="link"><h3>Pause</h3></div></a>
    <a href="#c4"><div class="link" id="exit"><h3>Quit</h3></div></a>
</div>
    <!--<a href="exit"><div class="link" id="exit"><h3>Exit</h3></div></a>-->

<div id="c1">
<div class="instructions">
    <h1>Instructions</h1>
    <p>You start with £5,000 and must try to make a profit by playing the market... with <strong>Arbitrage!</strong></p> 
    <p>Buy commodities at a low price and sell them at a higher price to make a profit.</p>
    <div id="commodities"><img src="@{'/public/images/pork.png'}" alt="pork bellies"><img src="@{'/public/images/frozen.png'}" alt="frozen orange juice"><img src="@{'/public/images/soy.png'}" alt="soy beans"><h1 class="inline">=</h1><img src="@{'/public/images/money.png'}" alt="money"></div>
    <p>To agree to a buy or sell order just click it, if you have enough money or enough of that commodity then your assets and cash will automatically adjust.</p>
    <button>PB SELL 600 11</button>
    <p>You can see how much of each commodity you have, how much money, and how much time you have left at the top of the page.</p>
    <p><strong>Hint!</strong> Trade across different exchanges to maximise your profits.</p>
    <h3>And remember...</h3>
    <h2>Buy Low, Sell High!</h2>
</div>
</div>
    
<div id="c2">
    <div id="highscores">
        <img src="@{'/public/images/trophy.png'}" alt="trophy">
        <h2>High Scores</h2>
        <table>
            <tr><td id="highscorename1"></td><td id="highscore1" class="score"></td></tr>
            <tr><td id="highscorename2"></td><td id="highscore2" class="score"></td></tr>
            <tr><td id="highscorename3"></td><td id="highscore3" class="score"></td></tr>
            <tr><td id="highscorename4"></td><td id="highscore4" class="score"></td></tr>
            <tr><td id="highscorename5"></td><td id="highscore5" class="score"></td></tr>
            <tr><td id="highscorename6"></td><td id="highscore6" class="score"></td></tr>
            <tr><td id="highscorename7"></td><td id="highscore7" class="score"></td></tr>
            <tr><td id="highscorename8"></td><td id="highscore8" class="score"></td></tr>
            <tr><td id="highscorename9"></td><td id="highscore9" class="score"></td></tr>
            <tr><td id="highscorename10"></td><td id="highscore10" class="score"></td></tr>
        </table>
    </div>
</div>
<div id="c3">
    <div id="pause"><h2>The game is now paused!</h2></div>
</div>
    
<div id="c4">
    <div id="quit">
        <h2>Are you sure you want to quit?</h2>
        <a href="endscreen"><button><h3>YES!</h3></button></a>
    </div>
</div>

<script>
jQuery( document ).ready( function( $ ) {

    $( '#portfolioitems a[href]' ).myLightbox();

} );
</script>

</body>
</html>
