<!DOCTYPE html>
<html>
    <head>
        <title>Arbitrage!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="@{'/public/stylesheets/styles.css'}">
	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
        
    </head>

<body id="game">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

<h1>Arbitrage!</h1>

<div id="portfolio">
    <div id="info"><div id="user"><img src="@{'/public/images/user.png'}" alt="user icon"><h3>Trader : MooseBoost</h3></div><div id="money" ><img src="@{'/public/images/money.png'}" alt="money"><h3>Money : £4,000</h3></div><div id="time"><img src="@{'/public/images/time.png'}" alt="clock"><h3>Time Left : 3 Days</h3></div></div>
    <div id="assets"><div id="pork"><img src="@{'/public/images/pork.png'}" alt="pork bellies"><h3>Pork Bellies : 300</h3></div><div id="frozen"><img src="@{'/public/images/frozen.png'}" alt="frozen orange juice"><h3>Frozen Orange Juice : 200</h3></div><div id="soy"><img src="@{'/public/images/soy.png'}" alt="soy beans"><h3>Soy Beans : 400</h3></div></div>
</div>
   
<div id="exchanges">
    <div id="nyse">
    <h3>NYSE</h3>
    <table>
    </table>
    </div>

    <div id="lse">
    <h3>LSE</h3>
    <table>
    </table>
    </div>

    <div id="nasdaq">
    <h3>NASDAQ</h3>
    <table>
    </table>
    </div>

</div>

<script>
    window.onload = function() {
        //getRequests("lse");
        //getRequests("nyse");
        //getRequests("nasdaq");
        requestUpdater();
    }
    
    function getRequests(exchangeCode) {
        $.ajax({
            url: 'http://localhost:9000/getInitialRequests?exchangeCode=' + exchangeCode,
            type: 'GET',
            dataType: 'json',
            success: function(dataWeGotViaJson){
                var exchangeNode = document.getElementById(exchangeCode);
                while (exchangeNode.firstChild) {
                    exchangeNode.removeChild(exchangeNode.firstChild);
                }
                for (var i in dataWeGotViaJson) {
                    appendButton(exchangeNode, dataWeGotViaJson[i]);
                }  
            }
        });
    }
    
    function appendButton(exchangeNode, json) {
        var button = document.createElement("BUTTON");
        var t=document.createTextNode(json.assetTypeString + "  " + json.requestTypeString + "  " + json.quantity + "  " + json.pricePerUnit);
        button.appendChild(t);
        button.onclick = function() { 
            alert("BLAH");
        };
        exchangeNode.appendChild(button);
    }
    
    function requestUpdater() {
        ws = new WebSocket("ws://localhost:9000/requestSocket");

        ws.onopen = function(message) { 
        }

        ws.onclose = function(message) {
        }

        ws.onmessage = function(message) {
            getRequests("lse");
            getRequests("nyse");
            getRequests("nasdaq");
        }  

        ws.onerror = function(message) {
            alert("ERROR");
        }
    }
</script>

        <script type="text/javascript">
 
jQuery.fn.myLightbox = function() {

    return this.each( function() {

        var lightboxContentLink = jQuery( this ).attr( 'href' );
        if( jQuery( lightboxContentLink ).length ) {
            /* get contents from another element with ID lightboxContentLink */
            var lightboxContent = jQuery( lightboxContentLink );
        }
        else {
            /**
             * @todo implement loading from URL
             */
            var lightboxContent = 'some URL content';
        }

        var windowWrapper = jQuery( '<div class="contentwindowwrapper" />' );
        var window = jQuery( '<div class="contentwindow" />' );
        var windowHandle = jQuery( '<div class="contentwindowclose"></div>' );

        /* close popup on handle click */
        windowHandle.click( function( event ) {
            windowWrapper.hide();
        } );

        /* add content and window handle to popup */
        window.append( lightboxContent, windowHandle );

        /* wrap window with wrapper */
        windowWrapper.append( window );
        windowWrapper.hide();

        /* insert new popup into DOM */
        jQuery( 'body' ).append( windowWrapper );

        jQuery( this ).click( function( event ) {

            /* don't follow link */
            event.preventDefault();

            /* close any popups that are still open */
            jQuery( '.contentwindowwrapper' ).hide();

            /* fade-in popup */
            windowWrapper.show( 300 );

        } );

    } );

};
 
	</script>

<div id="portfolioitems">
    <div class="link"><a href="#c1"><h3>Instructions</h3></a></div>
    <div class="link"><a href="#c2"><h3>High Scores</h3></a></div>
    <div class="link"><a href="#c3"><h3>Pause</h3></a></div>
</div>
    <a href="index"><div class="link" id="exit"><h3>Exit</h3></div></a>

<div id="c1">
    <div id="instructions">
        <h2>Instructions</h2>
    </div>
</div>
    
<div id="c2">
    <div id="highscores">
        <img src="@{'/public/images/trophy.png'}" alt="trophy">
        <h2>High Scores</h2>
        <table>
            <tr>
                <td>mathdebator</td><td class="score">4,200</td>
            </tr>
            <tr>
                <td>nicedayforasulk</td><td class="score">4,100</td>
            </tr>
            <tr>
                <td>mooseboost</td><td class="score">3,900</td>
            </tr>
            <tr>
                <td>SCR0TUS</td><td class="score">3,500</td>
            </tr>
            <tr>
                <td>woodland animal</td><td class="score">3,400</td>
            </tr>
            <tr>
                <td>Dr Ocelot</td><td class="score">3,000</td>
            </tr>
            <tr>
                <td>Zomie Jesus</td><td class="score">2,900</td>
            </tr>
            <tr>
                <td>NotSam</td><td class="score">2,800</td>
            </tr>
            <tr>
                <td>AlsoNotSam</td><td class="score">2,200</td>
            </tr>
            <tr>
                <td>Seximus Maximus</td><td class="score">20</td>
            </tr>
        </table>
    </div>
</div>
<div id="c3">
    <div id="pause"></div>
</div>

<script>
jQuery( document ).ready( function( $ ) {

    $( '#portfolioitems a[href]' ).myLightbox();

} );
</script>

</body>
</html>