<!DOCTYPE html>

<html>
    <head>
        <title>Arbitrage!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="@{'/public/stylesheets/styles.css'}">
	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
    </head>
    
<body id="index">

<div class="content">

    <div id="title">
        <h1>Arbitrage!</h1>

        <div id="playbackground">
        <a href="player"><div id="playborder">
        <div id="play">
        <h2>Play!</h2>
        </div>
        </div></a>
        </div>
    </div>

    <div id="highscores">
        <img src="@{'/public/images/trophy.png'}" alt="trophy">
        <h2>High Scores</h2>
        
        <table>
            <tr><td>mathdebator</td><td class="score">4,200</td></tr>
            <tr><td>nicedayforasulk</td><td class="score">4,100</td></tr>
            <tr><td>mooseboost</td><td class="score">3,900</td></tr>
            <tr><td>SCR0TUS</td><td class="score">3,500</td></tr>
            <tr><td>woodland animal</td><td class="score">3,400</td></tr>
            <tr><td>Dr Ocelot</td><td class="score">3,000</td></tr>
            <tr><td>Zomie Jesus</td><td class="score">2,900</td></tr>
            <tr><td>NotSam</td><td class="score">2,800</td></tr>
            <tr><td>AlsoNotSam</td><td class="score">2,200</td></tr>
            <tr><td>Seximus Maximus</td><td class="score">20</td></tr>
        </table>
    </div>

</div>

</body>
</html>