<!DOCTYPE html>

<html>
    <head>
        <title>Arbitrage!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="@{'/public/stylesheets/styles.css'}">
	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
    </head>
    
<body id="index">

<div class="content">

    <div id="title">
        <h1>Arbitrage!</h1>

        <div id="playbackground">
        <a href="player"><div id="playborder">
        <div id="play">
        <h2>Play!</h2>
        </div>
        </div></a>
        </div>
    </div>

    <div id="highscores">
        <img src="@{'/public/images/trophy.png'}" alt="trophy">
        <h2>High Scores</h2>
        
        <table>
            <tr><td id="iconId1"></td><td id="highscorename1"></td><td id="highscore1" class="score"></td></tr>
            <tr><td id="iconId2"></td><td id="highscore2" class="score"></td></tr>
            <tr><td id="iconId3"></td><td id="highscore3" class="score"></td></tr>
            <tr><td id="iconId4"></td><td id="highscore4" class="score"></td></tr>
            <tr><td id="iconId5"></td><td id="highscore5" class="score"></td></tr>
            <tr><td id="iconId6"></td><td id="highscore6" class="score"></td></tr>
            <tr><td id="iconId7"></td><td id="highscore7" class="score"></td></tr>
            <tr><td id="iconId8"></td><td id="highscore8" class="score"></td></tr>
            <tr><td id="iconId9"></td><td id="highscore9" class="score"></td></tr>
            <tr><td id="iconId10"></td><td id="highscore10" class="score"></td></tr>
        </table>
    </div>

</div>
    
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script>
    window.onload = function() {
        updateHighScores();
    }
    
    function updateHighScores(){
        $.ajax({
            url: 'http://localhost:9000/getHighScores',
            type: 'GET',
            dataType: 'json',
            success: function(json){
                var scoreCount = 1;
                for (var i in json) {
                    document.getElementById("iconId" + scoreCount).innerHTML = json[i].iconId;
                    document.getElementById("highscorename" + scoreCount).innerHTML = json[i].name;
                    document.getElementById("highscore" + scoreCount).innerHTML = json[i].score;
                    scoreCount++;
                }  
            }
        });
    }
</script>
    

</body>
</html>