<!DOCTYPE html>

<html lang="en">
   
    <head>
        <title>Arbitrage!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="@{'/public/stylesheets/styles.css'}">
	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
    </head>

<body id="player">

<div class="content">

<div class="instructions">
    <h1>Instructions</h1>
    <p>You start with £5,000 and must try to make a profit by playing the market... with <strong>Arbitrage!</strong></p> 
    <p>Buy commodities at a low price and sell them at a higher price to make a profit.</p>
    <div id="commodities"><img src="@{'/public/images/pork.png'}" alt="pork bellies"><img src="@{'/public/images/frozen.png'}" alt="frozen orange juice"><img src="@{'/public/images/soy.png'}" alt="soy beans"><h1 class="inline">=</h1><img src="@{'/public/images/money.png'}" alt="money"></div>
    <p>To agree to a buy or sell order just click it, if you have enough money or enough of that commodity then your assets and cash will automatically adjust.</p>
    <button class="pb">Sell 200 PB at £5 each</button>
    <p>You can see how much of each commodity you have, how much money, and how much time you have left at the top of the page.</p>
    <p><strong>Hint!</strong> Trade across different exchanges to maximise your profits.</p>
    <h3>And remember...</h3>
    <h2>Buy Low, Sell High!</h2>
</div>

<div id="details">
    
    <h2>Enter your player name:</h2>
    <input id="nameIn" type="text" name="playername" maxlength="15" />

    <h2>Choose your icon:</h2>
    
    
    <div id="icons">
        
    <form class="radios" id="iconForm">
    <input type="radio" name="rGroup" value="0" id="r0" />
    <label class="icon" for="r0" id="rainbow"></label>
    <input type="radio" name="rGroup" value="1" id="r1" />
    <label class="icon" for="r1" id="atom"></label>
    <input type="radio" name="rGroup" value="2" id="r2" />
    <label class="icon" for="r2" id="paint"></label>
    <input type="radio" name="rGroup" value="3" id="r3" />
    <label class="icon" for="r3" id="flower"></label>
    <input type="radio" name="rGroup" value="4" id="r4" />
    <label class="icon" for="r4" id="rocket"></label>
    </form>

    </div>

    <div id="backforward">
        <div id="backbackground">
        <a href="index"><div id="backborder">
        <div id="back">
        <h2>&lt;</h2>
        </div>
        </div></a>
        </div>

        <div id="forwardsbackground">
        <a id="nextPage" href="game" onclick="nextPage(); return false;"><div id="forwardsborder">
        <div id="forwards">
        <h2>&gt;</h2>
        </div>
        </div></a>
        </div>
    </div>

</div>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script>    
    function nextPage() {   
        var r0 = document.getElementById("r0");
        var r1 = document.getElementById("r1");
        var r2 = document.getElementById("r2");
        var r3 = document.getElementById("r3");
        var r4 = document.getElementById("r4");
        var iconId;
        
        if(r0.checked){
            iconId=0;
        }else
        if(r1.checked){
            iconId=1;
        }else
        if(r2.checked){
            iconId=2;
        }else
        if(r3.checked){
            iconId=3;
        }else
        if(r4.checked){
            iconId=4;
        }
        
        var name = document.getElementById("nameIn").value;
        $.ajax({
            url: 'http://localhost:9000/newPlayer?name=' + name + '&startingCash=5000&iconId=' + iconId,
            type: 'GET',
            dataType: 'text',
            success: function(response){                          
                    window.location.href = "http://localhost:9000/game";
            }
        });
    }   
    
    
    
</script>

</body>
</html>