<!DOCTYPE html>

<html lang="en">
   
    <head>
        <title>Arbitrage!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="@{'/public/stylesheets/styles.css'}">
	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
    </head>

<body id="player">
<div class="content">

<div id="instructions">
    <h2>Instructions</h2>
</div>

<div id="details">
    
    <h2>Enter your player name:</h2>
    <input id="nameIn" type="text" name="playername" maxlength="15" />

    <h2>Choose your icon:</h2>
    <div id="icons">
        <img class="icon" src="@{'/public/images/icon.png'}" alt="">
        <img class="icon" src="@{'/public/images/icon.png'}" alt="">
        <img class="icon" src="@{'/public/images/icon.png'}" alt="">
        <img class="icon" src="@{'/public/images/icon.png'}" alt="">
        <img class="icon" src="@{'/public/images/icon.png'}" alt="">
    </div>

    <div id="backforward">
        <div id="backbackground">
        <a href="index"><div id="backborder">
        <div id="back">
        <h2>&lt;</h2>
        </div>
        </div></a>
        </div>

        <div id="forwardsbackground">
        <a id="nextPage" href="" onclick="nextPage(); return false;"><div id="forwardsborder">
        <div id="forwards">
        <h2>&gt;</h2>
        </div>
        </div></a>
        </div>
    </div>

</div>

</div>
    
<script>    
    function nextPage() {            
        var name = document.getElementById("nameIn");
        alert("onClick worked");
        $.ajax({
            url: 'http://localhost:9000/newPlayer?name=' + name + '&startingCash=5000',
            type: 'GET',
            dataType: 'text',
            success: function(response){
                if (response === "OK") {
                    alertTest();
                } else {
                    alert(response);
                }
            }
        });
    }
    
    function alertTest() {
        alert("there was a response");
    }   
    
</script>

</body>
</html>